.ingredient-list{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
}
.ingredient-item {
    display: inline-flex;
    align-items: center;
    padding: 0 0.5rem;
    gap: 0.5rem;
    margin: 0.5rem 0;
    background-color: rgba(128, 128, 128, 0.579);
    border-radius: 5px;
    font-size: 14px;
}
.ingredient-item button{
    background: none;
}
.ingredient-item button:hover{
    color: black;
    background: none;
}
